.container{
    height: 90vh;
    width: 100%;
}
.container p{
    font-size: 4.3rem;
   text-align: center;
   font-family:'Times New Roman', Times, serif;
}
.pic{
    height: 100%;
    width:100% ;
    margin: 2vh 2vh 2vh 2vh;
    
   
 }


.hero-pic{
    margin-top: 5vh;
    height: 56vh;
    width: 238vh;
   display: flex;
   justify-content: space-evenly; 
}
.one{
    
    background-image: url(pic-1.webp);
    background-size: cover;
     height: 50vh;
     width: 100%;
     border-radius: 20px;
}
.one h4{
  
    font-weight: 400;
    font-size: 3vh;
    color: white;
    margin-left: 12px;
    margin-top: 250px;
   

   
}

.one button{
    height: 4vh;
    width: 10vh;
    margin-left:12px ;
    border: 1px solid white;
    font-weight: 500;
    border-top-right-radius:24px ;
    border-bottom-right-radius:24px ;
    border-bottom-left-radius:24px ;
    border-top-left-radius:24px ;
}
.two{
    background-image: url(n-pic.webp);
    background-size: cover;
    height: 50vh;
     width: 100%;
     border-radius: 10px;

}
.two h4{
   
    font-weight: 400;
    font-size: 3vh;
    color: white;
    margin-left: 12px;
    margin-top: 250px;  
}
.two button{
    height: 4vh;
    width: 10vh;
    margin-left:12px ;
    border: 1px solid white;
    font-weight: 500;
    border-top-right-radius:24px ;
    border-bottom-right-radius:24px ;
    border-bottom-left-radius:24px ;
    border-top-left-radius:24px ;
}
.three{
    background-image: url(pic-2.webp);
    background-size: cover;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
}
.three h4{
   
    font-weight: 400;
    font-size: 3vh;
    color: white;
    margin-left: 12px;
    margin-top: 250px;
   

   
}
.three button{
    height: 4vh;
    width: 10vh;
    margin-left:12px ;
    border: 1px solid white;
    font-weight: 500;
    border-top-right-radius:24px ;
    border-bottom-right-radius:24px ;
    border-bottom-left-radius:24px ;
    border-top-left-radius:24px ;
}
.four{
    
    background-image: url(n-pic3.webp);
    background-size: cover;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
}
.four h4{
  
    font-weight: 400;
    font-size: 3vh;
    color: white;
    margin-left: 12px;
    margin-top: 250px;
   

   
}
.four button{
    height: 4vh;
    width: 10vh;
    margin-left:12px ;
    border: 1px solid white;
    font-weight: 500;
    border-top-right-radius:24px ;
    border-bottom-right-radius:24px ;
    border-bottom-left-radius:24px ;
    border-top-left-radius:24px ;
}
.five{
    background-image: url(n-pic2.webp);
    height: 50vh;
    width: 100%;
    border-radius: 10px;
}
.five h4{
    
    font-weight: 400;
    font-size: 3vh;
    color: white;
    margin-left: 12px;
    margin-top: 250px;
   

   
}
.five button{
    height: 4vh;
    width: 10vh;
    margin-left:12px ;
    border: 1px solid white;
    font-weight: 500;
    border-top-right-radius:24px ;
    border-bottom-right-radius:24px ;
    border-bottom-left-radius:24px ;
    border-top-left-radius:24px ;
}
@media screen and (max-width:600px){

    .container{
        height: 88vh;
        width: 100%;
    }
    .container p{
        font-size: 2.5rem;
    }
    .pic{
        height: auto;
        width: 100%;
    }

    .pic h4{
        font-size: 1rem;
        margin-left: 12px;
    }
    .hero-pic{
        margin-top: 5vh;
        height: 56vh;
        width: 250vh;
       display: flex;
       justify-content: space-evenly; 
    }
   

    
}