.foot-image{
   
    height: 40vh;
    width: 230vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6vh;
    
    
}
.photo{
    height: 35vh;
    width: 30vh;
   margin: 4vh 4vh 4vh 4vh;
  
}
.a{
    background-image:url(f-pic-1.webp) ;
    background-size: cover;
    height: 180px;
    width: 240px;
    border-radius: 10px;
}
.b{
    background-image:url(f-pic-2.webp) ;
    background-size: cover;
    height: 180px;
    width: 240px;
    border-radius: 10px;
}
.c{
    background-image:url(b-pic1.png) ;
    background-size: cover;
    height: 180px;
    width: 240px;
    border-radius: 10px;
}
.d{
    background-image:url(b-pic2.jpg) ;
    background-size: cover;
    height: 180px;
    width: 240px;
    border-radius: 10px;
}
.e{
    background-image:url(n-pic.webp) ;
    background-size: cover;
    height: 180px;
    width: 240px;
    border-radius: 10px;
}
.f{
    background-image:url(n-pic3.webp) ;
    background-size: cover;
    height: 180px;
    width: 240px;
    border-radius: 10px;
}
